@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.header-large {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: .4s;
    padding: 19px 61px 0 120px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.navigation { 
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 100%;
    transition: all 0.5s;
    background: transparent;
}

.navigation .logo {
    margin-right: auto; 
}

.navigation .logo img {
    width: 100px;
    height: 85px;
    object-fit: cover;
    margin-top: 96px;
}

.logo span {
    color: black;
}

.navigation ul {
    display: flex;
    justify-content: center; 
    align-items: center;
    list-style: none;
    margin: 0; 
    padding: 0; 
    width: 100%; 
}

.navigation ul li {
    margin-right: 60px;
    position: relative; 
}

.navigation ul li:last-child {
    margin-right: 0; 
}

.navigation ul li a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.5s;
    text-decoration: none; 
}

.navigation ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 0;
    height: 2px;
    background-color: #006494;
    transition: width 0.3s ease;
}

.navigation ul li a:hover::after {
    width: 100%; 
}

.nav-item.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #006494;
}

.btn-whats {
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 5px 10px;
    width: 430px;
    border-radius: 5px;
    transition: .3s;
}

.btn-whats:hover{
    background-color: #0582CA;
}


@media (max-width: 1200px) {
    .navigation ul li {
        margin-right: 40px;
    }

    .navigation .logo img {
        width: 90px;
        height: 85px;
    }

    .btn-whats {
        width: 300px;
    }
}

@media (max-width: 992px) {
    .navigation ul li {
        margin-right: 30px;
    }

    .navigation .logo img {
        width: 80px;
        height: 75px;
    }

    .btn-whats {
        width: 250px;
    }
}

@media (max-width: 768px) {
    .navigation ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation ul li {
        margin: 10px 0;
    }

    .navigation .logo img {
        width: 70px;
        height: 65px;
    }

    .btn-whats {
        width: 220px;
    }
}

@media (max-width: 576px) {
    .navigation ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation ul li {
        margin: 8px 0;
    }

    .navigation .logo img {
        width: 60px;
        height: 55px;
    }

    .btn-whats {
        width: 200px;
    }
}


@media (max-width: 785px) {
    .header-large {
        display: none;
    }
}


.header-bottom {
    display: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.header-bottom.show-header {
    display: block;
    opacity: 1;
    pointer-events: auto;
}


@media screen and (max-width: 801px){
    .nav_menu{
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #101010;
        box-shadow: 0 0 20px rgba(5, 130, 202, 0.5);
        width: 100%;
        height: 60px;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius: 10px 10px 0 0;
        transition: .4s;
        z-index: 1000;
    }

    .nav_link img {
        width: 27px;
        height: 27px;
    }

    .nav{
        justify-content: center;
    }

    .nav_name{
        display: none;
    }
}

.nav_list,
.nav_link{
    display: flex;
}

.nav_link{
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    color: #d1d1d1;
    font-weight: 400;
}

.nav_list{
    justify-content: space-around;
}

.nav_name{
    font-size: 10px;
    transition: .4s;
}

.nav_name:hover{
    color: #d2d2d2;
}


@media screen and (max-width: 576px){
    .nav_list{
        justify-content: center;
        column-gap: 3rem;
    }
}

@media screen and (min-width: 802px){
    .nav{
        height: calc(3rem + 1.5rem);
    }

    .icon_nav {
        display: none;
    }

    .nav_name{
        font-size: 14px;
        padding: 0 25px;
    }
}
@media screen and (max-width: 375px){
    .nav_list{
        column-gap: 2rem;
    }
}


.nav-logo{
    text-align: center;
}

.nav-logo h1{
    font-size: 25px;
    color: #0582CA;
    line-height: 20px;
    font-weight: bold;
}

.nav-logo h2{
    font-size: 14px;
    color: #0582CA;
}

.nav-logo p{
    background-color: transparent;
    border: 2px solid #0582CA;
    color: #FFF;
    width: 203px;
    height: 30.29px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 30px;
    font-size: 14px;
    margin-top: 8px;
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #14161D;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader {
    border: 2px solid #0582CA;
    border-radius: 50%;
    border-top: 2px solid #14161D;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
}

#preloader img{
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.banner-container{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.30), rgba(0,0,0,0.30)),url('../images/bg/bg1.jpg');
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    width: 100%;
}

.banner-text{
    max-width: 520px;
    width: 100%;
    margin-left: 119px;
}

.banner-text img{
    width: 150px;
    height: 120px;
    margin-left: 20px;
    display: none;
}

.banner-text p{
    background-color: transparent;
    border: 2px solid #0582CA;
    color: #FFF;
    width: 206.51px;
    height: 30.29px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 30px;
    display: none;
}

.banner-title{
    max-width: 178px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-text h1{
    font-size: 37px;
    color: #0582CA;
    font-weight: 500;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
    display: none;
}

.banner-text h2{
    font-size: 17px;
    color: #0582CA;
    font-weight: 500;
    margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
    display: none;
}

.banner-text h3{
    font-size: 17px;
    color: #fff;
    line-height: 27px;
    text-transform: uppercase;
    margin-top: 150px;
}

.banner-text h4{
    font-size: 17px;
    color: #FFF;
    margin-top: 15px;
}

.banner-text h5{
    font-size: 15px;
    color: #FFF;
    margin: 15px 0; 
}

.banner-image h5{
    display: none;
}

.banner-text h6{
    font-size: 17px;
    color: #FFF;
}

h3 span, h4 span, h5 span, h6 span {
    color: #0582CA;
}


.box{
    color: white;
    border-radius: 15px;
    width: 20%;
    border: none;
    margin-top: 10px;
    max-width: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.subscribe-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 40px;
    margin-top: 20px;
    color: #fff;
    background-color: #0582CA;
    border: none;
    border-radius: 5px;
    transition: box-shadow 0.3s ease; 
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

.subscribe-btn:hover {
    box-shadow: 0 0 10px 5px rgba(5, 130, 202, 0.5); 
}


.banner-image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.brunoimg2 {
    width: 450px;
    height: 540px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 180px;
}


.brunoimg1{
    display: none;
}

@media (max-width: 769px) {
    .banner-container{
        flex-direction: column;
    }
    
    .banner-text img{
        width: 100px;
        height: 90px;
        margin-left: 20px;
    }

    .banner-text{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        padding: 20px 10px;
    }

    .banner-text h1{
        font-size: 33px;
        display: block;
    }

    .banner-text h2{
        font-size: 16px;
        display: block;
    }

    .banner-text h3{
        text-align: center;
        margin-top: 20px;
    }

    .banner-text h4{
        text-align: center;
        font-size: 15px;
    }

    .banner-text h5{
        display: none;
    }

    .banner-text p{
        display: flex;
    }

    .banner-image h5{
        text-align: center;
        font-size: 17px;
        margin-top: 30px;
        padding: 0 10px;
        color: #FFF;
        display: block;
    }

    .banner-text h6{
        text-align: center;
        margin-top: 25px;
        font-size: 17px;
    }

    .box{
        max-width: 100%;
        padding: 0 20px;
    }

    
    .banner-text img{
        margin: 0;
        display: flex;
    }

    .banner-image{
        margin-bottom: 30px;
    }

    .brunoimg1{
        width: 100%;
        height: 100%;
        display: flex;
    }

    .brunoimg2{
        display: none;
    }
}


@media (max-width: 426px) {

    .banner-text{
        padding-top: 5px;
    }

    .banner-text img{
        width: 90px;
        height: 90px;
    }

    .banner-text h1{
        font-size: 27px;
        line-height: 30px;
    }

    .banner-text h2{
        font-size: 15px;
    }

    .banner-text h3{
        text-align: center;
        font-size: 17px;
        line-height: 21px;
        margin-bottom: 5px;
    }

    .banner-text h4{
        text-align: center;
        font-size: 16px;
        margin-top: 10px;
    }

    .banner-text h5{
        text-align: center;
        font-size: 13px;
    }

    .banner-text h6{
        text-align: center;
        font-size: 16px;
        margin-top: 15px;
    }

    .subscribe-btn{
        margin-top: 0;
    }

    .banner-text p{
        margin-bottom: 10px;
        font-size: 14px;
        width: 150px;
        height: 25px;
    }

    .banner-image img{
        width: 100%;
    }
    
    .subscribe-btn{
        width: 100%;
        font-size: 14px;
        padding: 17px 20px;
        margin-top: 25px;
    }
}

@media (max-width: 376px){
    .banner-text h1{
        font-size: 35px;
    }

    .banner-text h2{
        font-size: 14px;
    }
}

@media (max-width: 321px){
    .banner-text h1{
        font-size: 30px;
    }

    .banner-text h2{
        font-size: 14px;
    }
}


.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0b111d;
    padding-bottom: 130px;
}

.about-title{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 54px;
}

.about-title h2{
    font-size: 25px;
    color: #00A6FB;
    font-weight: 100;
}

.about-title h3{
    font-size: 16px;
    color: #006494;
    font-weight: lighter;
    margin-top: 13px;
}

.line{
    width: 49px;
    height: 1px;
    background-color: #0582CA;
    margin-top: 21px;
}


.about-content{
    max-width: 904px;
    width: 100%;
    background-color: #0F0F0F;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(5, 130, 202, 0.5);
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.about-content div{
    display: flex;
    align-items: center;
    justify-content: center;
}


.about-text{
    max-width: 388px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 83px;
}

.logo-about{
    width: 90px;
    height: 82px;
}


.about-text h4{
    color: #fff;
    padding: 15px 0 25px 0;
    font-size: 17px;
}

.about-text span{
    color: #0582CA;
}

.about-text p{
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}


.about-content button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 18px 13px 27px;
    font-size: 15px;
    color: #fff;
    background-color: #0582CA;
    border: none;
    border-radius: 5px;
    margin: 20px 0 0 400px;
    transition: box-shadow 0.3s ease; 
    cursor: pointer;
}

.about-content button:hover {
    box-shadow: 0 0 10px 5px rgba(5, 130, 202, 0.5); 
}

.about-image img{
    margin-top: 50px;
}

@media (max-width: 769px){
    .about-container{
        padding: 20px;
    }

    .about-content{
        padding: 30px;
    }

    .about-content button{
        margin: 40px 0 0 0;
    }
    
    .about-content div{
        flex-direction: column;
    }

    .about-text{
        order: 1;
        text-align: center;
        margin: 15px 0;
    }
    
    .about-image{
        order: 2;
    }

}


@media (max-width: 426px){
    .about-text{
        max-width: 100%;
    }

    .about-image img{
        width: 100%;
        margin-top: 10px;
    }

    .about-content button{
        font-size: 13px;
    }

    .about-content button img{
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }
}


@media (max-width: 321px){
    .banner-text h4{
        font-size: 14px;
    }

    .about-text p{
        font-size: 14px;
    }

}


.benefits-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0,0.30), rgba(0,0,0,0.30)), url('../images/bg/bg2.jpg');
    background-position: center;
    background-size: cover;
    padding-bottom: 50px;
}

.swiper-container {
    width: 100%;
    max-width: 1400px;
    overflow: hidden;
    margin-top: 80px;
}

.swiper-wrapper {
    display: flex;
    padding: 20px;
    width: 100%;
}

.benefits-title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 54px;
}

.benefits-title h2 {
    font-size: 25px;
    color: #00A6FB;
    font-weight: 100;
}

.benefits-title h3 {
    font-size: 16px;
    color: #006494;
    font-weight: lighter;
    margin-top: 13px;
}

.card-item {
    width: calc(100% - 30px);
    max-width: 315px;
    height: 400px;
    background-color: #101010;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(5, 130, 202, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    flex-direction: column;
    padding: 35px;
    transition: transform 0.5s ease-in-out;
    margin: 0 15px;
}

.card-item img {
    width: 60px;
    height: 60px;
    margin-top: 43px;
}

.card-item h3 {
    color: #FFF;
    font-size: 17px;
    font-weight: bold;
    margin: 30px 0 26px 0;
}

.card-item p {
    font-size: 14px;
    color: #006494;
    font-weight: lighter;
}

.swiper-pagination {
    position: relative;
    margin-top: 30px;
    text-align: center;
}

.swiper-pagination-bullet {
    background: #fff; /* Cor das bolinhas */
    opacity: 0.5;
    margin: 0 5px; /* Ajuste conforme necessário */
}

.swiper-pagination-bullet-active {
    background: #007aff; /* Cor da bolinha ativa */
    opacity: 1;
}

.swiper-button-prev, .swiper-button-next {
    color: #007aff;
}

@media (max-width: 769px) {
    .swiper-container {
        padding: 0 20px; /* Adicione um espaçamento lateral para evitar cortes */
    }
    .swiper-wrapper{
        padding: 10px 0;
    }

    .swiper-slide {
        width: auto !important; /* Garante que os slides tenham largura automática */
    }

    .card-item {
        width: 100% !important; /* Faz com que os cards ocupem 100% da largura disponível */
        max-width: calc(100% - 20px) !important; /* Ajusta a largura máxima do card */
        height: auto !important; /* Altura automática para se ajustar ao conteúdo */
        margin: 0 10px !important; /* Reduz a margem para melhor ajuste */
        padding: 25px !important; /* Mantém o padding padrão para conteúdo */
    }
}

@media(max-width: 426px){
    .card-item img {
        width: 55px;
        height: 55px;
        margin-top: 20px;
    }
    
    .card-item h3 {
        color: #FFF;
        font-size: 15px;
        font-weight: bold;
        margin: 30px 0 26px 0;
    }
    
    .card-item p {
        font-size: 13px;
        color: #006494;
        font-weight: lighter;
    }
    
}

@media(max-width: 321px){
    .card-item img {
        width: 50px;
        height: 50px;
        margin-top: 20px;
    }
    
    .card-item h3 {
        color: #FFF;
        font-size: 13px;
        font-weight: bold;
        margin: 30px 0 26px 0;
    }
    
    .card-item p {
        font-size: 12px;
        color: #006494;
        font-weight: lighter;
    }
}

.slide-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 8px;
    margin-top: 40px;
}

.next {
    right: 8px;
    margin-top: 40px;
}

@media (min-width: 770px) {
    .slide-nav {
        display: none;
    }
}

.event-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0b111d;
    padding-bottom: 100px;
}


.event-title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 54px;
}

.event-title h2 {
    font-size: 25px;
    color: #00A6FB;
    font-weight: 100;
}

.event-title h3 {
    font-size: 16px;
    color: #006494;
    font-weight: lighter;
    margin-top: 13px;
}



.event-content{
    max-width: 904px;
    width: 100%;
    background-color: #0F0F0F;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(5, 130, 202, 0.5); 
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.event-content div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-text{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.event-text h4{
    color: #fff;
    padding-bottom: 15px;
    font-size: 24px;
    text-align: center;
}

.p-event{
    background-color: #0582CA;
    color: #FFF;
    padding: 3px 8px;
    border-radius: 5px;
    margin: 10px 0 30px 0;
}

.event-text p{
    font-size: 15px;
    color: #fff;
    line-height: 27px;
    margin-top: 20px;
    font-weight: lighter;
}

.event-content button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 18px 13px 18px;
    font-size: 15px;
    color: #fff;
    background-color: #0582CA;
    border: none;
    border-radius: 5px;
    margin: 15px 0 20px 470px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.event-content button:hover {
    box-shadow: 0 0 10px 5px rgba(5, 130, 202, 0.5); 
}

.event-image{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #00A6FB;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 50px;
    max-width: 450px;
    width: 100%;
}

.event-image iframe{
    width: 420px;
    height: 310px;
    border-radius: 5px;
}


@media (max-width: 769px){
    .event-container{
        padding: 20px;
    }

    .event-content{
        padding: 30px;
    }

    .event-content button{
        margin: 40px 0 0 0;
    }
    
    .event-content div{
        flex-direction: column;
    }

    .event-text{
        order: 1;
        text-align: center;
        margin: 15px 0;
    }
    
    .event-image{
        order: 2;
        margin: 0;
    }

    .event-image iframe{
        width: 100%;
    }

    .event-title{
        margin-top: 30px;
    }
}


@media (max-width: 426px){
    .event-text{
        max-width: 100%;
    }

    .event-text h4{
        font-size: 20px;
    }

    .event-text p{
        font-size: 15px;
        line-height: 24px;
    }

    .event-image img{
        width: 100%;
    }

    .event-text{
        padding: 20px;
    }

    .event-content button{
        font-size: 13px;
    }

    .event-content button img{
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }
}


@media (max-width: 376px){
    .event-text{
        padding: 17px;
    }
    .event-text p{
        font-size: 14px;
    }
}


.speakers-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0,0.30), rgba(0,0,0,0.30)), url('../images/bg/bg2.jpg');
    background-position: center;
    background-size: cover;
    padding-bottom: 70px;
}

.speakers-title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 54px;
    max-width: 500px;
    width: 100%;
}

.speakers-title h2 {
    font-size: 25px;
    color: #00A6FB;
    font-weight: 100;
}

.speakers-title h3 {    
    font-size: 16px;
    color: #006494;
    font-weight: lighter;
    margin-top: 13px;
}


.speakers-content{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    flex-wrap: wrap;
}


.speakers-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Distribute space between elements */
    max-width: 370px;
    min-height: 530px; /* Set a minimum height */
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(5, 130, 202, 0.5);
    background-color: #101010;
    margin: 0 30px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.speakers-card-img{
    width: 280px;
    height: 220px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #0582CA;
}

.speaker-name {
    margin-top: 17px;
    font-size: 16px;
    color: #0582CA;
    font-weight: bold;
}

.speaker-description {
    font-size: 12px;
    color: #FFF;
    font-weight: 500;
    margin-top: 17px;
    width: 100%;
    padding: 0 30px 0 45px;
    flex-grow: 1; /* Allow the description to grow */
}

.speaker-social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.speaker-social-links img{
    transition: transform .3s;
    cursor: pointer;
}

.speaker-social-links img:hover{
    transform: scale(1.1);
}


@media (max-width: 1025px){
    .speakers-card{
        margin: 30px;
    }
}


@media (max-width: 769px){
    .speakers-container{
        padding-bottom: 20px;
    }
}


@media (max-width: 426px){
    .speakers-card{
        padding: 0 20px;
        max-width: 400px;
    }

    .speakers-card-img{
        width: 100%;
    }

    .speaker-description{
        text-align: center;
        padding: 0 10px;
    }

}

@media (max-width: 322px){
    .speakers-title h2 {
        font-size: 22px;
    }
    
    .speakers-card{
        margin: 20px 0;
        max-width: 300px;
    }
}


.testimonials-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0b111d;
    padding-bottom: 100px;
}

.testimonials-title{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 54px;
}

.testimonials-title h2{
    font-size: 25px;
    color: #00A6FB;
    font-weight: 100;
}

.testimonials-title h3{
    font-size: 16px;
    color: #006494;
    font-weight: lighter;
    margin-top: 13px;
}


.testimonials-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 49px;
    margin-top: 96px;
    flex-wrap: wrap;
}

.testimonials-card1,
.testimonials-card2{
    background-color: #101010;
    box-shadow: 0 0 20px rgba(5, 130, 202, 0.5); 
    width: 399px;
    height: 261px;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 10px 30px;
}

.testimonials-card2{
    margin-top: 120px;
}


.testimonial-text{
    color: #00A6FB;
    font-weight: bold;
    line-height: 25px;
    margin-top: 30px;
    font-size: 14px;
}

.testimonial{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial img{
    width: 63px;
    height: 59px;
}

.testimonial p{
    color: #00A6FB;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
}


@media (max-width: 769px){
    .testimonials-card2{
        margin-top: 30px;
    }

    .testimonials-container{
        padding-bottom: 20px;
    }
}


@media (max-width: 426px){
    .testimonials-card1,
    .testimonials-card2{
        width: 100%;
    }

    .testimonials-content{
        padding: 0 20px;
    }
}


.mentor-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0b111d;
    padding-bottom: 50px;
}


.mentor-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    max-width: 1125px;
    width: 100%;
    padding: 0 20px;
}


.mentor-title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 54px;
    max-width: 400px;
    width: 100%;
}

.mentor-title h2 {
    font-size: 25px;
    color: #00A6FB;
    font-weight: 100;
}

.mentor-title h3 {    
    font-size: 16px;
    color: #006494;
    font-weight: lighter;
    margin-top: 13px;
}

.mentor-text{
    max-width: 550px;
    width: 100%;
    margin-top: 110px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-right: 90px;
}

.mentor-text h2{
    color: #0582CA;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 49px;
}


.mentor-text p{
    color: #FFF;
    font-size: 17px;
    margin: 15px 0;
    font-weight: lighter;
    line-height: 27px;
}


.mentor-text h3{
    font-size: 25px;
    color: #0582CA;
    font-weight: bold;
    margin-top: 30px;
}

.mentor-image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.mentor-image img {
    width: 496px;
    height: 568px;
    object-fit: cover;
}



@media (max-width: 769px){

    .mentor-container{
        padding-bottom: 0;
    }
    
    .mentor-content{
        flex-direction: column;
    }

    .mentor-image{
        order: 1;
        margin-top: 40px;
    }

    .mentor-text{
        margin: 50px 0;
        max-width: 100%;
        padding: 0 70px;
        order: 2;
    }

    .mentor-content{
        margin-top: 30px;
    }

}

@media (max-width: 426px){
    .mentor-image img{
        width: 100%;
        height: 100%;
    }

    .mentor-text{
        text-align: center;
        max-width: 100%;
        padding: 0 20px;
    }
    
    .mentor-text h2{
        font-size: 30px;
        margin-bottom: 30px;
    }
    
    
    .mentor-text p{
        font-size: 15px;
    }
    
    
    .mentor-text h3{
        font-size: 22px;
    }
}

@media (max-width: 376px){

    .mentor-text h2{
        font-size: 27px;
    }
    
    
    .mentor-text p{
        font-size: 14px;
    }
    
    
    .mentor-text h3{
        font-size: 18px;
    }
}


.contact-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}


.contact-text h3{
    font-size: 24px;
    color: #0582CA;
    font-weight: 100;
    margin-bottom: 53px;
    text-align: center;
}


.contact-text div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 23px 0;
}

.contact-text p{
    font-size: 16px;
    color: #fff;
    font-weight: lighter;
    margin-left: 10px;
}

.contact-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 36px;
}

.contact-icons img {
    transition: transform .3s;
    cursor: pointer;
}


.contact-icons img:hover{
    transform: scale(1.1);
}



@media (max-width: 426px){
    .contact-content{
        flex-direction: column;
    }

    .contact-text{
        margin: 0;
        text-align: center;
        margin-bottom: 15px;
    }

    .contact-text div{
        justify-content: center;
    }
}


.partners-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0b111d;
    padding-bottom: 40px;
    background-image: linear-gradient(rgba(0,0,0,0.40), rgba(0,0,0,0.40)), url('../images/bg/bg3.jpg');
    background-position: bottom;
    background-size: cover;
}

.partners-title{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 54px;
}

.partners-title h2{
    font-size: 25px;
    color: #00A6FB;
    font-weight: 100;
}

.partners-title h3{
    font-size: 16px;
    color: #006494;
    font-weight: lighter;
    margin-top: 13px;
    max-width: 350px;
}


.partners-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
    width: 100%;
}


.partners-card {
    width: 320px;
    min-height: 395px; /* Defina uma altura mínima adequada */
    background-color: #101010;
    box-shadow: 0 0 20px rgba(5, 130, 202, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 20px;
    margin: 20px;
    padding-bottom: 20px; /* Adiciona espaço extra na parte inferior */
}

.partner-img{
    width: 78px;
    height: 78px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #0582CA;
    margin-top: 30px;
    margin-bottom: 15px;
    transition: transform .3s;
}

.partner-img:hover{
    transform: scale(1.1);
}

.partners-card h4{
    color: #0582CA;
    font-size: 15px;
    font-weight: bold;
}

.partners-card p {
    color: #FFF;
    font-size: 12px;
    margin-top: 20px;
    padding: 0 20px;
    text-align: center;
    font-weight: lighter;
    flex-grow: 1; /* Permite que a descrição ocupe o espaço disponível */
    display: flex;
    align-items: center;
}


.container-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    margin-top: auto; /* Move os ícones sociais para o final do cartão */
}

.social-partners a{
    width: 40px;
    height: 40px;
    background-color: #0582CA;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px 0 10px;
    transition: transform .3s;
}

.social-partners a:hover{
    transform: scale(1.1);
}

.call-to{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
}

.call-to h2{
    font-size: 30px;
    color: #00A6FB;
    font-weight: 100;
}

.call-to h3{
    font-size: 16px;
    color: #FFF;
    margin-top: 13px;
    max-width:  480px;
    margin-bottom: 15px;
}

.call-to button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 30px;
    margin-top: 20px;
    color: #fff;
    background-color: #0582CA;
    border: none;
    border-radius: 5px;
    transition: box-shadow 0.3s ease; 
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

.call-to button:hover {
    box-shadow: 0 0 10px 5px rgba(5, 130, 202, 0.5); 
}


@media (max-width: 426px){
    .partners-container{
        padding-bottom: 80px;
    }
    .call-to{
        margin-top: 30px;
    }
    .call-to h2{
        font-size: 23px;
    }
    
    .call-to h3{
        font-size: 14px;
        
        padding: 0 10px;
    }
}


@media (max-width: 321px){
    
    .call-to h2{
        font-size: 20px;
    }
    
    .call-to h3{
        font-size: 13px;
        color: #FFF;
        margin-top: 13px;
        max-width: 420px;
    }
}



[data-anime] {
    opacity: 0;
    transition: 1s;
}

[data-anime="left"] {
    transform: translate3d(-70px, 0, 0);
}

[data-anime="bottom"] {
    transform: translate3d(0, 30px, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}



/* Barra de Rolagem */


/* Fundo que corre */
::-webkit-scrollbar-track {
    background-color: #14161D;
  }
  /* Fundo que corre */
  
  ::-webkit-scrollbar {
    width: 6px;
    background: #006494;
  }
  
  /* Linha que desce */
  ::-webkit-scrollbar-thumb {
    background: #006494;
    border-radius: 5px;
  }
  /* Linha que desce*/
  
  
  /* Barra de Rolagem */

  @media(max-width: 768px) {
    ::-webkit-scrollbar {
        display: none; 
    }
}